{
    "rules": {
        "no-console": 0,
        "react/no-find-dom-node": 0,
        "react/no-render-return-value": 0,
        "react/prop-types": 0
    },
    "globals": {
        "console": false
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
}
